/* Обнуление */
* {
    margin: 0;
    padding: 0;

    border: 0;
}

*::before,
*,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    overflow-x: hidden;

    height: 100%;

    color: var(--black);
    background: #F5F6F8;

    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 1;

    /* убираем горизонтальный скролл */
}

.wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;

    border: 0;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

/* -------------------- */

:root {
    --black: #3B434E;
    --gray: #EBEBEB;
    --white: white;
    --red: #DE0000;
    --primary: #7653FC;
    --primary-hover: #7D6BBA;
    --green: #1DC37E;
    --green-light: #C8F8E4;
    --font-family: font-family 'Noto Sans', sans-serif;
}
